# don't push the .env file which contains the API keys and such
.env

# ignore the venv created by PyCharm
venv/
.venv/

# PyCharm-specific hidden configuration files
.idea/

# log files
*.log

# local folder that python might create
__pycache__/

# also don't want to push the most_recent_matches file
# because the file on the Pi will actually have the most recent matches
# and this one won't
most_recent_matches.json

# I have a script for testing the bot which doesn't run the update matches loop
# it doesn't actually matter if it gets pushed to the repo or not but considering it should never run on the Pi,
# I don't want to push it
testing.py
